/* This is a comment that will not be read by browsers d */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header-Menu-Styling */
header {
    /* border: 1px solid red; */
    position: fixed;
    /* display: flex; */
    z-index: 1;
}

.desktop {
    /* border: 1px solid red; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    /* height: 150px; */
    width: 100%;
    height: 60px;
    padding: 2px;
    background: #000000;
}

.mobile {
    display: none;
}

.mobile-menu-container {
    display: none;
}


.logo {
    /* border: 1px solid red; */
    height: 100%;
    max-height: 40px;
    width: auto;
    margin-left: 5px;
    margin-top: 4px;
}

.link {
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.menu {
    /* border: 1px solid red; */
    margin-top: 15px;
    display: flex;
    z-index: 1;
}

.menu>li {
    /* border: 1px solid red; */
    list-style-type: none;
    margin-right: 50px;
    color: whitesmoke;
    font-size: 1em;
}

.menu a:visited {
    color: whitesmoke;
}

.menu a:link {
    color: whitesmoke;
}

.menu a:hover {
    color: #eec07a;
}

.menu>li:last-of-type {
    margin-right: 2em;
}

/* Code für Dropdown - angepasst aus Tutorial */
.dropdown {
    position: relative;
}

.dropdown>span {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.tutorials-menu {
    display: none;
}

.dropdown:hover .tutorials-menu {
    display: flex;
    flex-direction: column;
    background: #000000;
    border-radius: 5px;
    padding-top: 80px;

    position: absolute;
    top: -25px;
    left: -30px;
}

.tutorials-menu li {
    list-style: none;
    border-bottom: 1px solid #ffffff;

    padding: 0 40px 10px 20px;
    margin: 10px;
}

.tutorials-menu li:last-of-type {
    border-bottom: none;
}










body {
    background-color: #ffffff;
    font-size: 20px;
    z-index: 0;
    
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
  }

  .background-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center bottom;
  }
  

.content-container {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    margin: 60px 200px
    
}


  
article {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 200px
    
}

h1 {
    
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5em;
    
}


h2,
h3 {
    
    font-size: 1.5em;
}


/*Classes are refered to via a '.'*/
/* IDs are refered to via a '#'. 
Stylingwise they are to be avoided. 
But you can add them to the URLs */



a {
    text-decoration: none;
}



a:visited {
    color: #eec07a
}

a:link {
    color: #eec07a
}

a:hover {
    color: #ffffff
}


@media only screen and (max-width: 660px) {
    .mobile {
        display: block;
        /* border: 1px solid red; */
        position: fixed;
        display: flex;
        justify-content: right;
        /* height: 150px; */
        width: 100%;
        height: 150px;
        padding: 50px;
        background: #05397b;
        z-index: 0;
    }

    .mobile button {
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 2px solid whitesmoke;
        border-radius: 2px;
        display: flex;
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
    }

    .mobile button.display {
        border: 1.5px solid #eec07a;
    }

    .bar {
        background-color: #FFF;
        display: flex;
        height: 1.5px;
        position: absolute;
        width: 75%;
        z-index: 99;
    }

    .bar.display {
        background-color: #eec07a
    }

    .top {
        top: 12px
    }

    .bottom {
        bottom: 12px;
    }


    .desktop {
        display: none;
    }

    .mobile-menu-container {
        position: fixed;
        z-index: 9;
        list-style-type: none;
    }

    .mobile-menu-container > li {
        text-align: right;
        margin-bottom: 1em;
        font-size: 1.5em;
        
    }

    .mobile-menu-container a:visited {
    color: whitesmoke
    }

    .mobile-menu-container a:link {
    color: whitesmoke
    }

    .mobile-menu-container a:hover {
    color: #eec07a
    }

    .mobile-menu-container.display {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        width: 100%;
        height: calc(100% - 150px);
        padding: 50px;
        background: #636465;
    }

}